
<div class="row top-buffer">


  <div class="large-3 columns">
   <h3 class="home-boxes"><em>Accelerate your learning</em></h3>
  </div>

  <%= link_to postings_path do %>
    <div class="large-3 columns">
      <h3 class="home-boxes"><span class="sparkle">Learn</span> from trusted members of the community</h3>
    </div>
  <% end %>

  <%= link_to new_posting_path do %>
    <div class="large-3 columns">
      <h3 class="home-boxes"><span class="sparkle">Share</span> resources that helped you the most</h3>
    </div>
  <% end %>

  <%= link_to user_profiles_path do %>
    <div class="large-3 columns">
      <h3 class="home-boxes"><span class="sparkle">Connect</span> with other Rubyists near you</h3>
    </div>
  <% end %>
</div>
