
<div class="row">
  <div class="large-3 columns">
   <h3 class="home-boxes">Accelerate your learning</h3>
  </div>

  <div class="large-3 columns">
    <h3 class="home-boxes">Learn from trusted members of the community</h3>
  </div>

  <div class="large-3 columns">
    <h3 class="home-boxes">Share resources that helped you the most</h3>
  </div>

  <div class="large-3 columns">
    <h3 class="home-boxes">Connect with other Rubyists near you</h3>
  </div>
</div>
