<% if @posting %>
  <h1><%= "Reviews for #{@posting.title}" %></h1>
  <table>
    <tr>
      <th>User name</th>
      <th>Review</th>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <%= content_tag :td, review.user.full_name %>
        <%= content_tag :td, review.body %>
      </tr>
    <% end %>
  </table>
  <% else %>
  <p>Be the first to review this </p>
<% end %>

<%= link_to "Review this #{@posting.category}", new_posting_review_path %>