
<% if @posting %>
  <h3><%= "Reviews for #{@posting.title}" %></h3>
  <% if !current_user %>
    <p>You must sign in to review this title.</p>
  <%- end -%>
    <% @reviews.each do |review| %>
    <ul class="no-bullet">
      <li><%= content_tag :td, review.body %></li>
      <li><em>-<%= content_tag :td, review.user.full_name %></em></li>
    </ul>
    <% end %>

  <% else %>
  <p>Be the first to review this </p>
<% end %>

<%= link_to "Review this", new_posting_review_path %>